*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
body{
  background-color: aliceblue;
}
section{
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
.container{
  background-color: white;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0px 0px 61px 7px #5e849c40;
  padding: 50px 20px;
  border-radius: 20px;
}
.header{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}
.header h1{
  font-size: 40px;
  font-weight: 900;
}
form{
  margin-top: 10px;
  width: 80%;
  max-width: 300px;
}
input{
  border: none;
  border-bottom: 2px solid red;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  background-color: transparent;
}
input::placeholder{
  opacity: 0.5;
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}
form ion-icon{
  position: absolute;
 
  opacity: 0.5;
  color: grey;
  font-size: 20px;
  margin-left: 1px;
}
.gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  margin-top: 50px;
  grid-gap: 20px;


}
.itm{
 width: 100%;
 height: 300px;
 position: relative;
 overflow: hidden;
 border-radius: 8px;
 transition: .3s ease box-shadow;
}
.itm:hover{
  box-shadow: 0p 0px 20px 3px #000042;
}
.itm h3{
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: #00000040;
  color: aliceblue;
  bottom: -70px;
  font-weight: 300;
  transition:  -5s ease-in-out bottom;
  font-size: 20px;
}
.itm:hover h3{
  bottom: 0;
}
@media only screen and (min-width:900px) {
  .header{
      flex-direction: row;
      justify-content: space-between;
  }
  
}