* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
}
section {
  min-width: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgb(39, 36, 36);
}
.contaner {
  width: 90%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}
.brand {
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
  margin-bottom: 30px;
}
form {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(223, 223, 223);
  border-radius: 4px;
}
form input {
  width: 90%;
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 2rem;
  display: inline-block;
}
form ion-icon {
  width: 9%;
  font-size: 2.5rem;
  margin: -9px;
  color: rgb(32, 28, 28);
}
.search-result {
  margin-top: 50px;
  width: 100%;
  height: max-content;
  display: grid;
  grid-gap: 25px;
  grid-template: auto/repeat(auto-fit, minmax(300px, 1fr));
}
.itm {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(37, 37, 37);
  padding: 15px;
  overflow: hidden;
}
.itm img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}
.itm .flex-contsiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.itm .title {
  color: whitesmoke;
  margin: 20px 10px 0 0;
  font-weight: 400;
}
.view-btn {
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: #404040;
  color: white;
  font-size: 1.4rem;

  margin-top: 20px;
  align-self: flex-start;
}
.itm-data {
  color: whitesmoke;
  display: block;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  font-style: normal;
}
