@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* colors */
body {
  --color-1: #2f3144;
  --color-2: white;
  --color-3: #ffbc00;
  --color-4: #da8f00;
  --color-5: #e7e8ec;
  --color-6: #f1f2f7;
}
html {
  font-family: "Nunito", sans-serif;
  font-size: 10px;
}
section {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  padding: 100px 30px;
  width: 100%;
  max-width: 1200px;
}
.container .head h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  color: var(--color-1);
  margin-bottom: 50px;
  max-width: 700px;
}
.container .main {
  display: flex;
  flex-direction: column;
}
.left .card {
  width: 100%;
  padding: 40px 20px;
  border-radius: 10px;
  transition: 0.3s ease background-color;
  margin-bottom: 20px;
}
.left .card ion-icon {
  padding: 15px;
  background-color: var(--color-3);
  border-radius: 50%;
  font-size: 25px;
  color: white;
}
.left .card h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-1);
  margin: 10px 0;
}
.left .card p {
  font-size: 16px;
  font-weight: 400;
}
.left .card:hover {
  background-color: var(--color-3);
}
.left .card:hover ion-icon {
  color: var(--color-1);
  background-color: var(--color-2);
}
.right h1 {
  font-size: 22px;
  font-weight: 700;
  padding-left: 20px;
}
.right .blog-item {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
.right h3 {
  font-size: 18px;
  font-weight: 700;
}
.right p {
  color: var(--color-4);
  font-size: 16px;
  font-weight: 400;
}
.right .blog-item:hover {
  background-color: var(--color-5);
  border-radius: 8px;
}
@media only screen and (min-width: 700px) {
  .container .main {
    flex-direction: row;
  }
  .container .left {
    flex: 0.7;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 20px;
  }
  .container .right {
    flex: 0.3;
    padding: 30px 20px;
  }
  .container .main .card {
    width: 100%;
  }
  .container .head h1 {
    font-size: 34px;
    font-weight: 900;
    line-height: 50px;
  }
}

/* ********************* */
/* This Code is for only the floating card in right bottom corner */
/* ********************** */

* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.float-text {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: fit-content;
  background-color: #192227;
  color: whitesmoke;
  font-family: "Montserrat";
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
  cursor: pointer;
  border: 1px solid white;
}
.float-card-info {
  width: 300px;
  position: absolute;
  background-color: #263238;
  border: 2px solid white;
  overflow: hidden;
  bottom: 5px;
  right: -100%;
  padding: 30px;
  border-radius: 8px;
  transition: 0.5s ease-in-out right;
}
.float-card-info p {
  color: white;
  font-size: 20px;
  font-family: "Montserrat";
  text-transform: capitalize;
  width: 100%;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.gg-youtube {
  --ggs: 1.5;
}
.float-card-info .icons {
  width: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}
.float-card-info .icons a {
  display: inline-block;
  cursor: pointer;
  color: whitesmoke;
}
.float-card-info .icons a:hover {
  color: rgb(127, 127, 129);
}
.float-card-info .link {
  width: 100%;
  display: block;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Montserrat";
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}
.gg-close-r {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.float-card-info.active {
  right: 5px;
  bottom: 5px;
}

.float-card-info .hire {
  background-color: #181e22;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 18px;
  border-radius: 6px;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  margin-top: 20px;
}
