* {
  padding: 0%;
  margin: 0%;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
body {
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  width: 100%;
}
.contener {
  width: 80%;
  min-width: 450px;
  margin: 0 auto;

  text-align: center;
}
form,
.fact {
  width: 100%;
  background-color: rgba(43, 40, 40, 0.76);
  padding: 20px;
  border-radius: 5px;
}
input[type="number"] {
  width: 70%;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  font-size: 20px;
}
input[type="number"]:placeholder-shown {
  color: white;
  font-size: 20px;
}
button {
  display: inline-block;
  width: 25%;
  font-size: 20px;
  height: 40px;
  background-color: darkblue;
  outline: none;
  border: none;
  text-align: center;
  color: white;
}
